.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

.container h1 {
  font-size: 25pt;
  margin: 0pt;

}

.header {
  text-align: center;
  font-weight: bold;
  height: 65px;
  padding: 0px;
}


h1.header{
  font-weight: bolder;
  font-size: 40px;
  padding: 0px;
}

#header-info {
  display: inline-block;
  width: 100%;
  height: 120px;
  padding: 0px 10px 2px 2px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #f2f2f2;
}

.about {
  text-align: center justify;;
  margin: 40px;
  margin-right: 250px;
  margin-left: 250px;
}

.wide {
  width:100%;
  height:50%;
  height:calc(100% - 1px);
  background-image:url('https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/world-map-watercolor-michael-tompsett.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  image-rendering: auto;
  background-position: 50% 50%;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100%;
  height: 40px;
  font-weight: bold;
}

nav .brand, nav .brand a {
  margin-left: 25px;
  font-size: 18pt;
  text-decoration: none;
  color: #444;
  width: 60%;
  display: inline-block;
}

nav ul {
  display: inline-block;
  width: 30%;
  text-align: right;
}

nav li {
  margin-right: 25px;
  display: inline;
}

nav li a {
  color: gray;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

form label {
  font-weight: bold;
  margin-right: 20px;
}

input {
  margin-bottom: 10px;
}

.errors {
  color: red;
}

form.quirks {
  display: inline-block;
}

.submit {
  text-align: center;
}

.label {
  font-weight: bold;
  float: left;
  text-align: right;
  margin-right: 20px;
  width: 200px;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #191970;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #4682B4;}

button#logout {
     background:none;
     color: #f2f2f2;
     border:none;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     transition: 0.3s;
     font-size: 17px;
     font: inherit;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    #login-form {
      align-items: center;
      width: 70px;
    }
