<h1>Welcome</h1>
<div>
<h4>Register</h4>
<form class="form-inline" action="/register" method="POST">
<div class="form-group">
<label for="fullname">Your full name:</label>
<input type="text" class="form-control" id="fullname" name="user[full_name]">
</div>
  <div class="form-group">
<label for="email">Email address:</label>
<input type="email" class="form-control" id="email" name="user[email]">
</div>
<div class="form-group">
<label for="pwd">Password:</label>
<input type="password" class="form-control" id="pwd" name="user[password]">
</div>

<label for="preferences">Your home country (so we won't suggest songs you already know!):</label>  <br>
  <select name="user[country]" class="preference">
    <option value= "">
    <option value= >
    <% @countries.each do |country| %>
    <%= country.name %>
    <option value= <%= country.name %>>
      <% end %>
  </select><br><br>

  <br>
  <br>
<button type="submit" class="btn btn-default">Register</button>
</form>
</div>
