<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <br>
    <h3 class="header">We believe that creativity is beautiful, because it is diverse.</h3>
    <h5 class="about">But it is not always easy to find music from other cultures that cater to your taste. Here at Orbidia, you get first hand suggestions from locals according to your preferences in music, you desired language and your mood. Like a suggestion? We are ready to suggest you similar songs from that country, directly from Spotify.</h5>
    <h3 class="header">Suggestions of the day</h3>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


    <div>
    <h4>Login</h4>
    <form class="form-inline" action="/login" method="POST">
      <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" name="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" name="password">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
  </body>
</html>
